/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
	
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	min-width: 1440px;
}
a{
	color: black;
}
.container{
	align-items: center;
	max-width: 100%;
	background: url(../img/2.png)	no-repeat	scroll;
	background-size: 100%;
}
header {
	display: flex;
	background: #a9dff2;
	width: 100%;
	height: 100px;
	align-items: center;
}

.header__logo{
	margin: 0	110px	0	90px;
	
}

footer {
	background: #a9dff2;
	width: 100%;
	height: 346px;
}

.menu__list{
	display: flex;
align-items: center;
position: relative;
}
.menu__list	li{
	margin-right:	45px;
	font-size: 17px;
}


.menu__list	button{
width: 143px;
height: 40px;
color: white;
background-color: red;
margin-left: 435px;

}
form{
	margin:  0	auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 534px;
	border: unset;
    border: 1px  solid #e3e3e3;
	border-radius: 2px;
	box-shadow: 2px	2px	5px	5px	#c3c6c7;
	padding: 10px	30px	25px	32px;
	background-color: white;
	
}
form	p{
	color: #707070;
}
.cont__b{
	display: inline-block;
	margin: 5px;
	color: #707070;
}
.itel{
	width: 345px;
}
.ifile{
	display: none;

}
.co{
	border: 1px	solid	#707070;
	height: 130px;
	background: url(../img/3.png)center	no-repeat;
}


textarea {
	resize: none;
	height: 280px;
	border: 1px	solid	#707070;
}
form	button{
	margin-left: 20px;
	width: 100px;
	height: 40px;
	color: #707070;
	border: 1px	solid	#707070;
}
.del	{
	color: white;
	background-color: red;
}

input{
	height: 40px;
	border: 1px	solid	#707070;
}
.container__foo{

padding-left: 88px;
}
.container__wraper{
	display: flex;
	justify-content: space-between;
	height: 200px;
	border-bottom:2px	solid	#e3e3e3;
	padding:22px 88px;
}
.container__wraper	li{
padding-top: 14px;
	font-size: 14px;}
.copyrights{
	height: 65px;
	display: flex;
	justify-content: flex-end;
	padding-right: 88px;

}
.copyrights	a{
	margin-left: 35px;
	position: relative;
	top: 50%;
}
.menu__listfo{
	display: flex;
	align-items: center;}
	.menu__listfo	li{	margin-right:	45px;
		font-size: 16px;
}
.navfoot{
	height: 50px;
	display: flex;
	align-items: center;
	border:2px	solid	#e3e3e3;
	padding-left: 88px;
}
.mc__block{
	font-size: 16px;
	padding-bottom: 16px;
}
.hotline-wrapper	a{

	margin-right: 0.2%;
}
.social__wrapper{
	margin-top: 35px;
}
.container__form	p{
	margin: 20px	0	11px;
}
.menulink__cours{
	opacity: 0;
	visibility: hidden;
border-radius: 5px;
	position: absolute;
	top: 88%;
	left:0;
	margin-top: 20px;
	padding-top: 20px;
	background-color: white;

}
.menulink__cours	li{
padding-left: 16px;
width: 100%;
	height: 33px;
}
.menu__courseslink2{
	width: 175px;
	
}
.menu__courseslink{
	width: 183px;
	
}
.menulink__cours	li:hover{
	background-color: #f5f5f5;
	background-size: 100%;
	border-left:3px	solid	red;

}
li:hover	.menulink__cours{
	opacity: 1;
	visibility: visible;	
}

.menu__list	img{
	padding-left: 5px;
}

@media(max-width:1425px){
	.container{
		max-width: 1180px;}

	
}
@media(max-width:1200px){
	.container{
		max-width: 999px;}
		
}
@media(max-width:1011px){
	.container{
	max-width: 724px;}

		.menu__list{
			display: none;
		}
}
@media(max-width:760px){
	.container{
	max-width: 540px;}
		
}
@media(max-width:568px){
	.container{
	max-width: 325px;}
	
}

